{{extend 'layout.html'}}
<h1>{{=cont.name}}</h1>

{{if form:}}

<div class="row">
  <div class="col-sm-3" style="background-color:lavender;">
    <br/>
    <img width="200px"
         src="{{=URL('default', 'download', args=cont.picture)}}" class="mx-auto d-block img-thumbnail"/>
</div>
  <div class="col-sm-9" style="background-color:lavenderblush;">
    {{=form}}
  </div>
</div>

{{pass}}

{{if containers:}}
<h2>{{=T('Containers inside this container')}}:</h2>

<ul>
{{for cont in containers:}}
{{=LI(A(cont.name, _href=URL('container', 'show', args=cont.id)))}}
{{pass}}
</ul>

{{pass}}

{{if things:}}
<h2>{{=T('Things inside this container')}}:</h2>

<ul>
{{for thing in things:}}
{{=LI(A(thing.name, _href=URL('thing', 'show', args=thing.id)))}}
{{pass}}
</ul>

{{pass}}
